@font-face {
    font-family: "pokemon";
    src: url("../fonts/pokemon.ttf");
}

@font-face {
    font-family: "wingdings";
    src: url("../fonts/wingdings.ttf");
}

@font-face {
    font-family: "comicsans";
    src: url("../fonts/comicsans.ttf");
}

@font-face {
    font-family: "facebook";
    src: url("../fonts/klavika.otf");
}

@font-face {
    font-family: "ptmono";
    src: url("../fonts/ptmono.ttc");
}

@font-face {
    font-family: "harrypotter";
    src: url("../fonts/harryp.ttf");
}

@font-face {
    font-family: "badcoma";
    src: url("../fonts/badcoma.ttf");
}

@font-face {
    font-family: "futura";
    src: url("../fonts/futura.ttc");
}

@font-face {
    font-family: "times-custom";
    src: url("../fonts/times.ttf");
}
